#root {
  max-width: 100%;
  /* padding: 1rem; */
  text-align: center;
  width: 100%;
  height: 852px;
}

.messages-wrapper {
  position: relative;
  overflow-y: auto;
}

.messages {
  overflow-y: auto;
  background: rgb(131, 58, 180);
  background: radial-gradient(
    circle,
    rgba(131, 58, 180, 1) 0%,
    rgba(33, 215, 247, 1) 24%,
    rgba(138, 233, 50, 1) 39%,
    rgba(252, 51, 70, 1) 61%,
    rgba(83, 189, 191, 1) 81%,
    rgba(143, 49, 202, 1) 100%
  );
  font-family: tahoma;
  font-weight: 400;
  font-size: 15px;
  background-size: 150% 150%;
  color: white;
  transition-duration: 0.4s;
  transition-behavior: ease-out;
}

form {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 90%;
  margin: 0 auto;
  display: flex;
}

form button {
  padding: 0px 10px;
  border-radius: 0px 5px 5px 0px;
}

input {
  width: 100%;
  font-size: 15px;
  text-align: right;
  padding: 10px 5px;
  border-radius: 5px 0px 0px 5px;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.text {
  display: flex;
  width: auto;
  max-width: 100%;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 0px 16px white;
  margin: 1rem auto;
  min-height: 20px;
}

.right .text-p {
  text-align: right;
}

.left .text-p {
  text-align: left;
}

.text-p {
  max-width: 80%;
  min-width: 100px;
  overflow: hidden;
  padding: 10px 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 0px 16px white;
}

.whitespace {
  display: flex;
  background-color: white;
  min-height: 20px;
  width: 100%;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 52, 52, 0.8);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-overlay > .popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background: white;
  border-radius: 10px;
}

.popup > button {
  margin-top: 20px;
}
