#root {
  max-width: 1280px;
  /* padding: 1rem; */
  text-align: center;
  width: 393px;
  height: 852px;
}

.messages-wrapper {

  position: relative;
  overflow-y: auto;
  
}

.messages {
  overflow-y: auto;
  background-color: #fff;
  background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(154,246,63,1) 17%, rgba(145,18,157,1) 30%, rgba(32,197,188,1) 46%, rgba(138,233,50,1) 61%, rgba(252,51,70,1) 81%, rgba(143,49,202,1) 100%);
  color: white;
  font-family: tahoma;
  font-weight: 400;
  font-size: 15px;

}

form {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 90%;
  margin: 0 auto;
}

input {
  width: 100%;
  font-size: 15px;
  text-align: right;
  padding: 5px;
  border-radius: 5px;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.text {
  display: flex;
  width: auto;
  max-width: 100%;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 0px 16px white;
  margin: 1rem auto;
  min-height: 20px;
}

.right .text-p {
  text-align: right;
}

.left .text-p {
  text-align: left;
}

.text-p {
  max-width: 80%;
  min-width: 100px;
  overflow: hidden;
  padding: 10px 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 0px 10px white;
}

.whitespace {
  display: flex;
  background-color: white;
  min-height: 20px;
  width: 100%;
}

button {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 10px 0;
}
